*{
    box-sizing:border-box;
}
body{
    background: linear-gradient(to top right, #4caf50, #f8b400, #e91e63);
}
h1{
    font-size: 55px;
    font-family: sans-serif;
    text-align: center;
    
}
.container{
    display: flex; 
    flex-wrap: wrap;
}
img{
    width: 550px;
    height: 500px;
    border-radius: 45px;
}
figcaption{
    font-size: 30px;
    font-family: courier;
    font-weight: bold;
}
.back{
    position: absolute;
    right: 100px;
    bottom: -2000px;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: black;
    color: beige;
    padding: 10px;
    border-radius: 50px;
}